Package: [[name]]
Section: misc
Priority: optional
Architecture: all
Depends: openjdk-7-jre-headless | openjdk-7-jre
Version: [[version]]-[[buildNumber]]
Maintainer: Victor Ion Munteanu <victor.munteanu@equillon.ro>
Description: Watchtower-Monitoring
  Gets and forwards events from the monitoring solutions